<div class="popover-demo">
  <section>
    <h4>Hover popover:</h4>
    <div style="padding: 10px 100px;">
      <button class="btn btn-primary" rePopover="I am a rebirth tooltip!" placement="left">Popover on left</button>
      <button class="btn btn-success" rePopover="I am a rebirth tooltip!">Tooltip on top</button>
      <button class="btn btn-warning" rePopover="I am a rebirth tooltip!" placement="bottom">Popover on bottom</button>
      <button class="btn btn-danger" rePopover="I am a rebirth tooltip!" placement="right">Popover on right</button>
    </div>
  </section>

</div>
