<form class="form-inline time-picker">
  <div class="form-group">
    <input type="text"
           #hours
           [disabled]="disabled"
           name="hours"
           class="form-control"
           maxlength="2"
           max="23"
           min="0"
           [(ngModel)]="hour"
           (keydown)="handleKeyEvent($event, timeType.HOUR)"
           (blur)="onHoursChange()">
  </div>
  <span>:</span>
  <div class="form-group">
    <input type="text"
           #minutes
           [disabled]="disabled"
           name="minutes"
           class="form-control"
           maxlength="2"
           max="59"
           min="0"
           [(ngModel)]="minute"
           (keydown)="handleKeyEvent($event, timeType.MINUTE)"
           (blur)="onMinutesChange()">
  </div>
  <ng-container *ngIf="showSeconds">
    <span>:</span>
    <div class="form-group">
      <input type="text"
             #seconds
             [disabled]="disabled"
             name="seconds"
             class="form-control"
             max="59"
             min="0"
             maxlength="2"
             [(ngModel)]="second"
             (keydown)="handleKeyEvent($event, timeType.SECOND)"
             (blur)="onSecondsChange()">
    </div>
  </ng-container>
</form>
