<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="no()">
    <span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{{context.title}}</h4>
</div>
<div class="modal-body">
  <p *ngIf="!context.html">{{context.content}}</p>
  <p *ngIf="context.html" [innerHTML]="context.content"></p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="yes()">{{context.yes || btnYes}}</button>
</div>
