<div class="panel-demo">
  <re-panel type="default" [canClose]="true" (close)="close('info')" [allowCollapse]="true">
    <div class="re-panel-header">
      Panel default header with close button!
    </div>
    <body class="re-panel-body">
    Panel default content.
    </body>
  </re-panel>


  <re-panel type="info" >
    <div class="re-panel-header">
      Panel info header!
    </div>
    <body class="re-panel-body">
    Panel info content.
    </body>
  </re-panel>

  <re-panel type="success">
    <div class="re-panel-header">
      Panel success header!
    </div>
    <body class="re-panel-body">
    Panel success content.
    </body>
  </re-panel>

  <re-panel type="warning">
    <div re-panel-header>
      Panel warning header!
    </div>
    <body re-panel-body>
    Panel warning content.
    </body>
  </re-panel>

  <re-panel type="danger">
    <div re-panel-header>
      Panel danger header!
    </div>
    <body re-panel-body>
    Panel danger content.
    </body>
  </re-panel>
</div>
