<template #defaultRowTemplate let-rowIndex="rowIndex" let-colIndex="colIndex" let-rowItem="rowItem"
          let-cellItem="cellItem"
          let-cellValue="cellValue">

  <ng-container [ngSwitch]="column.fieldType">
    <a *ngSwitchCase="'tel'" [href]="'tel:' + cellValue">{{cellValue}}</a>
    <a *ngSwitchCase="'mail'" [href]="'mailto:' + cellValue">{{cellValue}}</a>
    <span *ngSwitchDefault>{{cellValue}}</span>
  </ng-container>
</template>

<template #defaultRowEditTemplate let-rowIndex="rowIndex" let-colIndex="colIndex" let-rowItem="rowItem"
          let-column="column" let-cell="cell">
  <form class="form-inline">
    <div class="form-group">
      <input [type]="column.fieldType" class="form-control" autofocus="autofocus" [name]="column.field"
             [(ngModel)]="rowItem[column.field]"
             (blur)="cell.onFinishCellEdit($event)"/>
    </div>
  </form>
</template>

<ng-container>
  <template *ngIf="!column.editable || !isCellEdit"
            [ngTemplateOutlet]="column.cellCmp ? column.cellCmp.template : defaultRowTemplate"
            [ngOutletContext]="{
                   rowIndex:rowIndex,
                   colIndex:colIndex,
                   column: column,
                   rowItem:rowItem,
                   cellItem: (column.field == '$index'? rowIndex + 1: rowItem[column.field]),
                   cellValue: (column.field == '$index'? rowIndex + 1 : column.formatter(rowItem[column.field]))
                   }">
  </template>

  <template *ngIf="column.editable && isCellEdit"
            [ngTemplateOutlet]="column.cellEditCmp ? column.cellEditCmp.template : defaultRowEditTemplate"
            [ngOutletContext]="{
                    rowIndex:rowIndex,
                    colIndex:colIndex,
                    column: column,
                    rowItem:rowItem,
                    cell: this
                    }">
  </template>
</ng-container>
