<ng-container>
  <template *ngIf="!column.editable || !isCellEdit"
            [ngTemplateOutlet]="cellTemplates.getCellViewTemplate(column)"
            [ngOutletContext]="{
                   rowIndex:rowIndex,
                   colIndex:colIndex,
                   column: column,
                   rowItem:rowItem,
                   cellItem: getCellValue(column, rowIndex, rowItem),
                   cellValue:  getCellFormatValue(column, rowIndex, rowItem),
                   $implicit: this
                   }">
  </template>

  <template *ngIf="column.editable && isCellEdit"
            [ngTemplateOutlet]="cellTemplates.getCellEditTemplate(column)"
            [ngOutletContext]="{
                    rowIndex:rowIndex,
                    colIndex:colIndex,
                    column: column,
                    rowItem:rowItem,
                    $implicit: this
                    }">
  </template>
</ng-container>
