<div class="panel panel-default {{cssClass}}">
  <!--<div class="panel-heading text-center">Panel heading</div>-->
  <table class="table {{type ? 'table-' + type : ''}} {{ hover ? 'table-hover': ''}}">
    <thead reDataTableHead [columns]="columns" [headTemplate]="headTemplate" [checkable]="checkable"
           [allChecked]="allChecked"></thead>
    <tbody reDataTableBody [dataSource]="dataSource" [columns]="columns" [checkable]="checkable"
           [allChecked]="allChecked"></tbody>
  </table>
  <div class="panel-footer text-right">Panel footer</div>
</div>
