<tr *ngFor="let rowItem of dataSource; let rowIndex = index" reDataTableRow [selectable]="selectable"
    [checkable]="checkable" [rowIndex]="rowIndex" [rowItem]="rowItem" [columns]="columns" [editRowItem]="editRowItem"
    [editModel]="editModel" [dataTableTemplates]="dataTableTemplates" [allChecked]="allChecked">
</tr>
<tr *ngIf="isEmpty(dataSource)">
  <td [attr.colspan]="columns.length" class="text-center">
    <span *ngIf="!emptyRowTemplate">{{emptyRowText}}</span>
    <ng-template *ngIf="emptyRowTemplate" [ngTemplateOutlet]="emptyRowTemplate"
                 [ngOutletContext]="{ $implicit: this }"></ng-template>
  </td>
</tr>
