
.menu-bar {
  .logo {
    width: 60px;
    margin-top: -15px;
  }

  .navbar-collapse {
    .nav-item {
      display: block;
      &:last-child {
        margin-right: 3rem;
      }
    }
  }
}

nav.sidebar {
  -webkit-transition: margin 200ms ease-out;
  -moz-transition: margin 200ms ease-out;
  -o-transition: margin 200ms ease-out;
  transition: margin 200ms ease-out;
}

@media (min-width: 765px) {
  nav.sidebar {
    position: fixed;
    z-index: 100;
    width: 200px;
    height: 100%;
    margin-left: -160px;
    float: left;
    margin-bottom: 0px;

    &.sidebar-open, &:hover {
      margin-left: 0px;
    }

    .navbar-brand, .navbar-header {
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
  }

  nav.sidebar.navbar.sidebar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
  }

  :host /deep/ {
    nav.sidebar {
      a {
        padding-right: 13px;
      }

      li {
        width: 100%;
      }

      .menu-icon {
        float: right !important;
      }

      .navbar-nav > li:first-child {
        border-top: 1px #e5e5e5 solid;
      }

      .navbar-nav > li {
        border-bottom: 1px #e5e5e5 solid;
      }

      .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
      }

      .navbar-collapse, .container-fluid {
        padding: 0px;
      }
    }

    .forAnimate {
      opacity: 0;
    }
  }
}

@media (min-width: 1330px) {

  nav.sidebar {
    z-index: 100;
    margin-left: 0px;
    float: left;
  }

  :host /deep/ {
    nav.sidebar {
      .forAnimate {
        opacity: 1;
      }
    }
  }
}

:host /deep/ {
  nav.sidebar .navbar-nav .open .dropdown-menu > li > a:hover, nav.sidebar .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: transparent;
  }

  nav:hover {
    .forAnimate {
      opacity: 1;
    }
  }
}
