<ul class="navbar-nav mr-auto" [ngClass]="{'navbar-right': right}">
  <ng-container *ngFor="let menu of menus">

    <li *ngIf="!menu.children?.length" class="nav-item {{menu.cssClass}}" routerLinkActive="active">
      <ng-template *ngIf="menu.itemTemplate" [ngTemplateOutlet]="menu.itemTemplate"
                   [ngTemplateOutletContext]="{ menu: menu }">
      </ng-template>

      <ng-container *ngIf="!menu.itemTemplate">
        <a class="nav-link" *ngIf="menu.router" [routerLink]="menu.router"
           [queryParams]="menu.queryParams" [target]="menu.target || '_self'">
          <i *ngIf="menu.icon" class="menu-icon {{menu.icon}}"></i>&nbsp;{{menu.text}}</a>

        <a class="nav-link" *ngIf="menu.handler" (click)="menu.handler(menu)">
          <i *ngIf="menu.icon" class="menu-icon {{menu.icon}}"></i>&nbsp;{{menu.text}}</a>

        <a class="nav-link" *ngIf="!menu.router && !menu.handler" [href]="menu.url" [target]="menu.target || '_self'">
          <i *ngIf="menu.icon" class="menu-icon {{menu.icon}}"></i>&nbsp;{{menu.text}}</a>
      </ng-container>
    </li>


    <li *ngIf="menu.children?.length" reDropdown [direction]="direction" routerLinkActive="active"
        class="dropdown-menu-parent nav-item dropdown {{menu.cssClass}}">
      <a class="nav-link dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
        <i *ngIf="menu.icon" class="menu-icon {{menu.icon}}"></i>&nbsp;{{menu.text}}
        <span class="caret"></span>
      </a>
      <div class="dropdown-menu forAnimate" aria-labelledby="navbarDropdown">
        <ng-container *ngFor="let child of menu?.children">

          <ng-template *ngIf="child.itemTemplate" [ngTemplateOutlet]="child.itemTemplate"
                       [ngTemplateOutletContext]="{ menu: child }">
          </ng-template>

          <ng-container *ngIf="!child.itemTemplate">

            <a *ngIf="child.router" [routerLink]="child.router" role="menuitem" class="{{child.cssClass}}"
               routerLinkActive="active" [queryParams]="child.queryParams" [target]="child.target || '_self'">
              <i *ngIf="child.icon" class="menu-icon {{child.icon}}"></i>&nbsp;{{child.text}}</a>

            <a *ngIf="child.handler" role="menuitem" class="{{child.cssClass}}"
               (click)="child.handler(child)">
              <i *ngIf="child.icon" class="menu-icon {{child.icon}}"></i>&nbsp;{{child.text}}</a>

            <a *ngIf="!child.router && !child.handler" role="menuitem" class="{{child.cssClass}}"
               [href]="child.url" [target]="child.target || '_self'">
              <i *ngIf="child.icon" class="menu-icon {{child.icon}}"></i>&nbsp;{{child.text}}</a>

            <div *ngIf="child.divider" class="dropdown-divider" role="separator"></div>
            <div *ngIf="child.header" class="dropdown-header">{{child.text}}</div>
          </ng-container>
        </ng-container>

      </div>
    </li>
  </ng-container>

</ul>
