<div class="auto-complete-demo">
  <section>
    <h4>Basic</h4>

    <form class="form-horizontal">
      <div class="form-group">
        <label for="language" class="col-sm-2 control-label">Search array:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="language" id="language" [minLength]="0"
                 [(ngModel)]="selectItem1" reAutoComplete [onSearch]="onSearchLocal.bind(this)"/>
        </div>
      </div>
      <pre>{{(selectItem1 | json) || 'No language select!'}}</pre>
    </form>

    <form class="form-horizontal">
      <div class="form-group">
        <label for="language" class="col-sm-2 control-label">Search wiki:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="wiki" id="wiki"
                 [(ngModel)]="selectItem2" reAutoComplete [onSearch]="onSearch.bind(this)"/>
        </div>
      </div>
      <pre>{{(selectItem2 | json) || 'No search result!'}}</pre>
    </form>

  </section>

  <section>
    <h4>Customise</h4>

    <template #customiseItemTemplate let-item="item" let-formatter="formatter" let-$index="$index" let-source="source"
              let-term="term">
      <span><i class="glyphicon {{getIcon($index)}}"></i>&nbsp;{{$index +1}}: {{formatter(item)}}</span>
    </template>

    <form class="form-horizontal">
      <div class="form-group">
        <label for="language-customiseItemTemplate" class="col-sm-2 control-label">Search array:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="language" id="language-customiseItemTemplate" [minLength]="0"
                 [(ngModel)]="selectItem3" reAutoComplete [onSearch]="onSearchLocal.bind(this)"
                 [itemTemplate]="customiseItemTemplate"
          />
        </div>
      </div>
      <pre>{{(selectItem3 | json) || 'No language select!'}}</pre>
    </form>
  </section>
</div>
