<div class="auto-complete-demo">
  <section>
    <h4>Basic</h4>

    <form class="form-horizontal">
      <div class="form-group">
        <label for="language" class="col-sm-2 control-label">Search array:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="language" id="language" [minLength]="0"
                 [(ngModel)]="selectItem1" reAutoComplete [onSearch]="onSearchLocal.bind(this)"/>
        </div>
      </div>
      <pre>{{(selectItem1 | json) || 'No language select!'}}</pre>
    </form>

    <form class="form-horizontal">
      <div class="form-group">
        <label for="language" class="col-sm-2 control-label">Search object array:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="language" id="language4" [minLength]="0"
                 [(ngModel)]="selectItem4" reAutoComplete [onSearch]="onSearchObject.bind(this)"/>
        </div>
      </div>
      <pre>{{(selectItem4 | json) || 'No language select!'}}</pre>
    </form>

    <form class="form-horizontal">
      <div class="form-group">
        <label for="language" class="col-sm-2 control-label">Search wiki:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="wiki" id="wiki"
                 [(ngModel)]="selectItem2" reAutoComplete [onSearch]="onSearch.bind(this)"/>
        </div>
      </div>
      <pre>{{(selectItem2 | json) || 'No search result!'}}</pre>
    </form>

  </section>

  <section>
    <h4>Customise</h4>

    <template #customiseItemTemplate let-item="item" let-formatter="formatter" let-$index="$index" let-source="source"
              let-term="term">
      <span><i class="glyphicon {{getIcon($index)}}"></i>&nbsp;{{$index +1}}: {{formatter(item)}}</span>
    </template>

    <template #noResultItemTemplate let-term="term">
      <span>No any results match <b>{{term}}</b></span>
    </template>
    <form class="form-horizontal">
      <div class="form-group">
        <label for="language-customiseItemTemplate" class="col-sm-2 control-label">Search array:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="language" id="language-customiseItemTemplate" [minLength]="0"
                 [(ngModel)]="selectItem3" reAutoComplete [onSearch]="onSearchLocal.bind(this)"
                 [itemTemplate]="customiseItemTemplate" [noResultItemTemplate]="noResultItemTemplate"
          />
        </div>
      </div>
      <pre>{{(selectItem3 | json) || 'No language select!'}}</pre>
    </form>
  </section>

  <section>
    <h4>Disable</h4>

    <form class="form-horizontal">
      <div class="form-group">
        <label for="language" class="col-sm-2 control-label">Search array:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" name="language" id="language1" [minLength]="0" [disabled]="isDisabled"
                 [(ngModel)]="selectItem1" reAutoComplete [onSearch]="onSearchLocal.bind(this)"/>
        </div>
        <div class="col-sm-4">
          <button class="btn btn-primary" (click)="isDisabled = !isDisabled"> {{isDisabled ? 'Enable AutoComplete' :
            'Disable AutoComplete'}}
          </button>
        </div>
      </div>
    </form>
  </section>

  <section>
    <h4>Mutiple tags</h4>
    <form class="form-horizontal">
      <div class="form-group">
        <label #mutipleContainer for="mutiple-label-auto-complete" class="mutiple-label-auto-complete">
          <ul>
            <li *ngFor="let item of mutipleItems">
              <span class="label label-info">
                 <i aria-hidden="true" class="label-close" (click)="removeLabel(item)">&times;</i>{{item}}
              </span>
            </li>
            <li>
              <input #autoComplete="autoComplete" id="mutiple-label-auto-complete" type="text" name="text"
                     class="auto-complete-control"
                     [(ngModel)]="selectItem5" (selectValue)="onMutipleSearch()" reAutoComplete
                     [onSearch]="searchWiki.bind(this)"
                     [placementElement]="mutipleContainer"
                     (keydown.backspace)="onMmutipleSearchBoxBackspace($event, autoComplete)">
            </li>
          </ul>
        </label>

        <pre>{{mutipleItems | json}}</pre>
      </div>
    </form>
  </section>

</div>
