<div class="btn-group {{direction? 'drop' + direction : '' }} {{cssClass}}" [ngClass]="{open: isOpen}">
  <button class="btn {{type? 'btn-' + type : ''}} {{btnSize? 'btn-' + btnSize : ''}}" (click)="toggle($event)"
          [disabled]="disabled">
    <i *ngIf="icon" class="{{icon}}" aria-hidden="true"></i>
    {{buttonText}}
  </button>
  <button type="button"
          class="btn {{type? 'btn-' + type : ''}} {{btnSize? 'btn-' + btnSize : ''}} dropdown-toggle"
          aria-haspopup="true"
          [attr.aria-expanded]="true"
          (click)="toggle($event)" [disabled]="disabled">
    <span class="caret"></span>
    <span class="sr-only">|</span>
  </button>

  <ul class="dropdown-menu" role="menu">
    <ng-container *ngFor="let item of actions">
      <li *ngIf="!item.divider && ! item.header" role="menuitem" [ngClass]="{'disabled': item.disabled}"
          (click)="onActionClick(item)">
        <a><i *ngIf="item.icon" class="{{item.icon}}"></i>&nbsp;{{item.text}}</a></li>
      <li *ngIf="item.header" class="dropdown-header">{{item.text}}</li>
      <li *ngIf="item.divider" class="divider" role="separator"></li>
    </ng-container>
  </ul>
</div>
