<div class="arrow"></div>
<h3 class="popover-title" *ngIf="title">
  <span *ngIf="!isTemplateRef(title)" [innerHTML]="title"></span>
  <ng-template *ngIf="isTemplateRef(title)" [ngTemplateOutlet]="title"
               [ngTemplateOutletContext]="{ $implicit: context }"></ng-template>
</h3>
<div class="popover-content">
  <span *ngIf="!isTemplateRef(content)" [innerHTML]="content"></span>
  <ng-template *ngIf="isTemplateRef(content)" [ngTemplateOutlet]="content"
               [ngTemplateOutletContext]="{ $implicit: context }"></ng-template>
</div>
