<div class="radio-group-demo">

  <section>
    <h4>Sex:</h4>
    <re-radio-group [options]="sexOptions" [(ngModel)]="sex"></re-radio-group>
    <pre>{{sex | json}}</pre>
  </section>

  <section>
    <h4>Season:</h4>
    <re-radio-group [options]="seasonOptions" [(ngModel)]="season"></re-radio-group>
    <pre>{{season | json}}</pre>
  </section>

  <section>
    <h4>Season with customise value:</h4>
    <re-radio-group [options]="seasonOptions" [(ngModel)]="seasonValue" [inline]="true"
                    [valueParser]="valueParser"></re-radio-group>
    <pre>{{seasonValue | json}}</pre>
  </section>


</div>
