<div class="progress-bar-demo">

  <re-progress-bar [value]="value" [text]="value + '%'"></re-progress-bar>
  <re-progress-bar type="success" [value]="value" [text]="value + '%'"></re-progress-bar>
  <re-progress-bar type="info" [value]="value" [text]="value + '%'"></re-progress-bar>
  <re-progress-bar type="warning" [striped]="true" [text]="'Copy file ' + value + 'of 60'" [value]="value"
                   [max]="100"></re-progress-bar>
  <re-progress-bar type="danger" [striped]="true" [animate]="true" [value]="value"></re-progress-bar>

  <re-progress-bar type="success" [value]="value" [text]="value + '%'" [thin]="true"></re-progress-bar>

  <button class="btn btn-primary" (click)="value = value + 10">+10</button>
  <button class="btn btn-primary" (click)="value = value - 10">-10</button>
</div>
