<label for="mutiple-label-auto-complete-{{id}}" class="mutiple-label-auto-complete {{cssClass}}">
  <ul>
    <li *ngFor="let item of mutipleItems">
              <span class="label label-info" [ngClass]="{disabled: disabled}">
                 <i aria-hidden="true" class="label-close" (click)="removeLabel(item)">&times;</i>{{formatter(item)}}
              </span>
    </li>
    <li *ngIf="!disabled">
      <input id="mutiple-label-auto-complete-{{id}}" type="text" name="mutipleAutoComplete"
             class="auto-complete-control"
             [(ngModel)]="selectValue" (selectValueChange)="onMutipleSearch()" [onSearch]="onSearch"
             [cssClass]="popupCssClass" [delay]="delay" [minLength]="minLength" [itemTemplate]="itemTemplate"
             [noResultItemTemplate]="noResultItemTemplate" [formatter]="formatter" [valueParser]="valueParser"
             (keydown.backspace)="onMutipleSearchBoxBackspace($event)" [disabled]="disabled" [dataSource]="dataSource"
             [appendBody]="appendBody" reAutoComplete>
    </li>
  </ul>
</label>

