.mutiple-label-auto-complete {
  padding: 0px;
  font-weight: normal;
  ul {
    display: block;
    list-style: none;
    width: 100%;
    padding: 2px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;

    &:focus {
      border-color: #66afe9;
      outline: 1px;
    }

    &::-ms-expand {
      border: 0;
      background-color: transparent;
    }

    li {
      display: inline-block;
      margin: 5px;
      .label-close {
        cursor: pointer;
        margin-right: 5px;
        font-weight: bold;
        font-size: 1.5rem;
      }
    }

    .auto-complete-control {
      height: 100%;
      border: none;
      outline: none;
      :focus {
        border: none;
        outline: none;
      }
    }
  }
}
