<div class="nav-bar-demo">

  <section>
    <form class="form-horizontal">
      <div class="form-group">
        <label>Navbar style</label>
        <select name="dateFormat" class="form-control" [(ngModel)]="type">
          <option *ngFor="let item of types" [ngValue]="item">{{item}}</option>
        </select>
      </div>

      <button class="btn btn-info" (click)="messages= messages + 1">New message coming!</button>
      <hr>
      <ng-template #volumeTemplate let-menu="menu">
        <a> <i *ngIf="menu.icon" class="menu-icon {{menu.icon}}"></i>&nbsp;{{menu.text}}
          <re-badge [ngStyle]="{'margin-top': '-1rem', 'margin-left':'-2px', 'background':'#E85656'}"
                    [text]="messages"></re-badge>
        </a>
      </ng-template>
      <re-menu-bar #menu="menuBar" [menuOptions]="menus" [type]="type"></re-menu-bar>
      <re-menu-bar [menuOptions]="menus" [inverse]="true"></re-menu-bar>
    </form>
  </section>

</div>
