.tags {
  display: block;
  list-style: none;
  width: 100%;
  padding: 0px;

  li {
    display: inline-block;
    margin: 8px 8px 0px 0px;
    .label-btn {
      cursor: pointer;
      margin-left: 8px;
    }
  }
  .tag-input-control {
    max-width: 10em;
  }
}

