<div class="accordion-demo">
  <section>
    <h4>Static text</h4>
    <button class="btn btn-primary" (click)="accordion.toggleById('1')">Toggle panel 1</button>
    <re-accordion type="info" #accordion="accordion" [closable]="true" (close)="onClose($event)">
      <re-accordion-item id="1">
        <re-accordion-header>
          Panel info header!
        </re-accordion-header>
        <re-accordion-body>
          Panel info content.
        </re-accordion-body>
      </re-accordion-item>
      <re-accordion-item id="2">
        <re-accordion-header>
          Panel success header!
        </re-accordion-header>
        <re-accordion-body>
          Panel success content.
        </re-accordion-body>
      </re-accordion-item>
      <re-accordion-item id="3">
        <re-accordion-header>
          Panel warning header.
        </re-accordion-header>
        <re-accordion-body>
          Panel warning content.
        </re-accordion-body>
      </re-accordion-item>
    </re-accordion>
  </section>

  <section>
    <h4>Different type in each panel</h4>
    <re-accordion>
      <re-accordion-item type="info">
        <re-accordion-header>
          Panel info header!
        </re-accordion-header>
        <re-accordion-body>
          Panel info content.
        </re-accordion-body>
      </re-accordion-item>
      <re-accordion-item type="success">
        <re-accordion-header>
          Panel success header!
        </re-accordion-header>
        <re-accordion-body>
          Panel success content.
        </re-accordion-body>
      </re-accordion-item>
      <re-accordion-item type="danger">
        <re-accordion-header>
          Panel warning header.
        </re-accordion-header>
        <re-accordion-body>
          Panel warning content.
        </re-accordion-body>
      </re-accordion-item>
    </re-accordion>
  </section>

  <section>
    <h4> *ngFor items</h4>
    <button class="btn btn-primary" (click)="appendItems()">Append more items</button>
    <button class="btn btn-warning" (click)="removeLastItem()">Remove last
      {{items.length}}
    </button>
    <re-accordion type="success">
      <ng-container *ngFor="let item of items">
        <re-accordion-item id="{{item.id}}">
          <re-accordion-header>
            {{item.title}}
          </re-accordion-header>
          <re-accordion-body>
            {{item.content}}
          </re-accordion-body>
        </re-accordion-item>
      </ng-container>
    </re-accordion>
  </section>
</div>
