<div class="accordion-demo">
  <section>
    <h4></h4>
    <button class="btn btn-primary" (click)="accordion.toggle('1')">Toggle panel 1</button>
    <re-accordion type="info" #accordion="accordion">
      <re-accordion-item id="1">
        <re-accordion-header>
          Panel info header!
        </re-accordion-header>
        <re-accordion-body>
          Panel info content.
        </re-accordion-body>
      </re-accordion-item>
      <re-accordion-item id="2">
        <re-accordion-header>
          Panel success header!
        </re-accordion-header>
        <re-accordion-body>
          Panel success content.
        </re-accordion-body>
      </re-accordion-item>
      <re-accordion-item id="3">
        <re-accordion-header>
          Panel warning header!
        </re-accordion-header>
        <re-accordion-body>
          Panel warning content.
        </re-accordion-body>
      </re-accordion-item>
    </re-accordion>
  </section>
</div>
