<div class="data-table-demo">
  <section>
    <h4>Data table</h4>
    <re-data-table [dataSource]="dataSource" (sortChange)="sortChange($event)" [selectable]="true">
      <re-column field="$index" header="#"></re-column>
      <re-column field="firstName" header="First Name" [sortable]="true" [editable]="true"></re-column>
      <re-column field="lastName" header="Last Name" [sortable]="true" [editable]="true"></re-column>
      <re-column field="dob" header="Date of birth" [formatter]="dobFormat" [editable]="true">
        <re-cell-edit>
          <template let-rowIndex="rowIndex" let-colIndex="colIndex" let-rowItem="rowItem"
                    let-cell="">
            <form class="form-inline">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-MM-dd" reAutoFocus [autoFoucs]="true"
                         name="dp" [(ngModel)]="rowItem.dob" reDatePicker #datePicker="datePicker"
                         (ngModelChange)="cell.onFinishCellEdit()">
                  <div class="input-group-addon" (click)="datePicker.toggle($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </div>
                </div>
              </div>
            </form>
          </template>
        </re-cell-edit>
      </re-column>
      <re-column field="score" [sortable]="true" header="Score" [editable]="true" fieldType="number">
        <re-cell>
          <template let-rowIndex="rowIndex" let-colIndex="colIndex" let-rowItem="rowItem" let-cellItem="cellItem"
                    let-cellValue="cellValue">
            <div class="text-center" [style.background]="cellItem >= 60 ? '#DFF0D8' : '#F2DEDE'">{{cellValue}}</div>
          </template>
        </re-cell>
      </re-column>
    </re-data-table>
  </section>

  <section>
    <h4>Customise head & footer</h4>
    <re-data-table [dataSource]="dataSource" type="bordered" [pager]="pager" (sortChange)="sortChange($event)"
                   (pageIndexChange)="onPageIndexChange($event)">
      <re-head>
        <template let-head="">
          <tr>
            <th></th>
            <th colspan="2" class="text-center">User Name</th>
            <th>Age</th>
            <th>Score</th>
          </tr>
          <tr>
            <th *ngFor="let column of head.columns" (click)="head.onHeadClick(column)">{{column.header}} <i
              *ngIf="head.sortField == column.field" class="glyphicon"
              [ngClass]="{ 'glyphicon-triangle-bottom': head.sortDirection == 'DESC','glyphicon-triangle-top': head.sortDirection == 'ASC' }"></i>
            </th>
          </tr>
        </template>
      </re-head>
      <re-column field="$index" header="#"></re-column>
      <re-column field="firstName" header="First Name" [sortable]="true"></re-column>
      <re-column field="lastName" header="Last Name" [sortable]="true"></re-column>
      <re-column field="dob" header="Date of birth" [formatter]="dobFormat"></re-column>
      <re-column field="score" header="Score" [sortable]="true"></re-column>
      <re-foot>
        <template>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>AVG Score: {{dataSource | reAVG: ['score']}}</td>
          </tr>
        </template>
      </re-foot>
    </re-data-table>
  </section>

  <section>
    <h4>Checkable + Filterable + Scrollable</h4>
    <re-data-table #checkedTable="dataTable" [dataSource]="filterDataSource" type="bordered"
                   [checkable]="true" [scrollable]="true" maxHeight="200px" [tableWidth]="'1500px'"
                   (searchQueryChange)="onSearchQueryChange($event)"
                   (checkAllChange)="onCheckAllChange($event,checkedTable)"
                   (rowCheckChange)="onRowCheckChange($event,checkedTable)">
      <re-column field="$index" header="#" width="25px"></re-column>
      <re-column field="firstName" header="First Name" [filterable]="true" width="30%"></re-column>
      <re-column field="lastName" header="Last Name" [filterable]="true" width="30%">
        <re-cell-filter>
          <template let-head="" let-column="column">
            <input type="text" class="form-control search" [(ngModel)]="head.searchQuery[column.field]"
                   [name]="column.field" (keydown.enter)="head.onSearchQueryChange()"
                   (ngModelChange)="head.onSearchQueryChange()"
                   placeholder="Customise:filter when model change"/>
          </template>
        </re-cell-filter>
      </re-column>
      <re-column field="dob" header="Date of birth" [formatter]="dobFormat" width="20%"></re-column>
      <re-column field="score" header="Score"></re-column>
    </re-data-table>
  </section>

  <section>
    <h4>Data table row edit</h4>
    <re-data-table [dataSource]="dataSource" editModel="row" #table="dataTable">
      <re-column field="$index" header="#"></re-column>
      <re-column field="firstName" header="First Name" [editable]="true">
        <re-cell-edit>
          <template let-rowIndex="rowIndex" let-colIndex="colIndex" let-rowItem="rowItem" let-row="row"
                    let-column="column"
                    let-cell="">
            <form class="form-inline">
              <div class="form-group">
                <div class="input-group">
                  <input [type]="column.fieldType" class="form-control" [name]="column.field"
                         [(ngModel)]="rowItem[column.field]" (keydown.enter)="cell.onFinishCellEdit($event)"
                         (blur)="cell.onFinishCellEdit($event)"/>
                  <div class="input-group-addon" (click)="choosePeople(row, rowItem)">
                    <i class="glyphicon glyphicon-cog"></i>
                  </div>
                </div>
              </div>
            </form>
          </template>
        </re-cell-edit>
      </re-column>
      <re-column field="lastName" header="Last Name" [editable]="true"></re-column>
      <re-column field="dob" header="Date of birth" [formatter]="dobFormat" [editable]="true">
        <re-cell-edit>
          <template let-rowIndex="rowIndex" let-colIndex="colIndex" let-rowItem="rowItem"
                    let-cell="">
            <form class="form-inline">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-MM-dd"
                         name="dp" [(ngModel)]="rowItem.dob" reDatePicker #datePicker="datePicker"
                         (ngModelChange)="cell.onFinishCellEdit()">
                  <div class="input-group-addon" (click)="datePicker.toggle($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </div>
                </div>
              </div>
            </form>
          </template>
        </re-cell-edit>
      </re-column>
      <re-column field="score" [sortable]="true" header="Score" [editable]="true" fieldType="number"></re-column>
      <re-column>
        <re-cell>
          <template let-rowItem="rowItem" let-column="column" let-cell="">
            <button class="btn btn-primary" (click)="editRow(table, rowItem)"
                    *ngIf="!cell.isCellEditEnable(column, rowItem)">Update
            </button>
            <button class="btn btn-primary" (click)="saveRow(table, rowItem)"
                    *ngIf="cell.isCellEditEnable(column, rowItem)">
              Save
            </button>
            <button class="btn btn-default" (click)="cancelRow(table, rowItem)"
                    *ngIf="cell.isCellEditEnable(column, rowItem)">
              Cancel
            </button>
          </template>
        </re-cell>
      </re-column>
    </re-data-table>
  </section>

</div>
