<nav aria-label="Pagination">
  <ul class="pagination">
    <li *ngIf="boundary">
      <a aria-label="First" (click)="first()"><span aria-hidden="true">First</span></a>
    </li>
    <li>
      <a (click)="prev()" aria-label="Previous"><span aria-hidden="true">Previous</span></a>
    </li>
    <li *ngIf="showPages[0] > 1">
      <a>...</a>
    </li>
    <li *ngFor="let item of showPages" [ngClass]="{active: item == pageIndex}">
      <a (click)="onPageIndexChange(item)">{{item}} <span class="sr-only" *ngIf="item == pageIndex">(current)</span></a>
    </li>
    <li *ngIf="showPages[showPages.length -1] < totalPage()">
      <a>...</a>
    </li>
    <li>
      <a (click)="next()" aria-label="Next"><span aria-hidden="true">Next</span></a>
    </li>
    <li *ngIf="boundary">
      <a aria-label="Last" (click)="last()"><span aria-hidden="true">Last</span></a>
    </li>
  </ul>
</nav>
