<nav aria-label="Pagination">
  <ul class="pagination {{size? 'pagination-' + size: ''}}">
    <li *ngIf="boundary" [ngClass]="{disabled: pageIndex == 1}">
      <a [attr.aria-label]="firstLink" (click)="first()"><span aria-hidden="true">{{firstLink}}</span></a>
    </li>
    <li [ngClass]="{disabled: pageIndex == 1}">
      <a (click)="prev()" [attr.aria-label]="preLink"><span aria-hidden="true">{{preLink}}</span></a>
    </li>
    <li *ngIf="showPages[0] > 1" (click)="preRange()">
      <a>...</a>
    </li>
    <li *ngFor="let item of showPages" [ngClass]="{active: item == pageIndex}">
      <a (click)="onPageIndexChange(item)">{{item}} <span class="sr-only" *ngIf="item == pageIndex">(current)</span></a>
    </li>
    <li *ngIf="showPages[showPages.length -1] < totalPage" (click)="nextRange()">
      <a>...</a>
    </li>
    <li [ngClass]="{disabled: pageIndex == totalPage}">
      <a (click)="next()" [attr.aria-label]="nextLink"><span aria-hidden="true">{{nextLink}}</span></a>
    </li>
    <li *ngIf="boundary" [ngClass]="{disabled: pageIndex == totalPage}">
      <a [attr.aria-label]="lastLink" (click)="last()"><span aria-hidden="true">{{lastLink}}</span></a>
    </li>
  </ul>
</nav>
