<div class="file-upload-panel" reDroppable (onDrop)="onDropFiles($event)">
  <div class="file-upload-toolbar">
    <input #file type="file" (change)="newFileChoose(file)" style="display: none">
    <button class="btn btn-primary" (click)="addNewFile(file, $event)"
            [disabled]="isMoreThanMaxItems()">
      <i class="glyphicon glyphicon-plus"></i> Choose
    </button>
    <button class="btn btn-info"><i class="glyphicon glyphicon-upload"></i> Upload</button>
    <button class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> Cancel</button>
  </div>

  <re-alert-box type="danger" [closable]="true" (close)="clearErrors()" *ngIf="errors.length">
    <ul>
      <li *ngFor="let error of errors">{{error}}</li>
    </ul>
  </re-alert-box>

  <re-file-upload-preview [selectFiles]="selectFiles"></re-file-upload-preview>
</div>
