<div class="file-upload-list">
  <table class="table">
    <tbody>
    <tr *ngFor="let fileItem of selectFiles">
      <td *ngIf="imgPreview">
        <img *ngIf="fileItem.dataUrl" class="img-responsive" [src]="fileItem.dataUrl" [attr.alt]="fileItem.file.name"/>
      </td>
      <td>
        {{fileItem.file.name}}
      </td>
      <td>
        {{fileItem.displaySize}}bytes
      </td>
      <td>
        <i *ngIf="!fileItem.uploaded"  class="glyphicon glyphicon-trash" (click)="onRemoveFile(fileItem)"></i>
      </td>
    </tr>
    </tbody>
  </table>
</div>
