<div class="file-upload-preview">
  <table class="table">
    <tbody>
    <tr *ngFor="let fileItem of selectFiles">
      <td *ngIf="imgPreview">
        <a [href]="fileItem.dataUrl" target="_blank">
          <img *ngIf="fileItem.dataUrl" class="img-responsive" [src]="fileItem.dataUrl" [attr.alt]="fileItem.file.name"
               [style.width]="previewWidth || ''"/>
        </a>
      </td>
      <td>
        {{fileItem.name}}
      </td>
      <td>
        {{fileItem.displaySize}}
      </td>
      <td>
        <i *ngIf="!uploaded" class="glyphicon glyphicon-trash text-danger" (click)="onRemoveFile(fileItem)"></i>
        <i *ngIf="uploaded" class="glyphicon glyphicon-ok text-success"></i>
      </td>
    </tr>
    </tbody>
  </table>
</div>
