<div class="slider-body">
  <div class="slider-container">
    <div #slider class="slider">
      <div class="base-line" (click)="onSliderClick($event)">
        <div class="active-line" [style.width.px]="handleOffset"></div>
      </div>
    </div>

    <div #sliderDot [style.left.px]="handleOffset" class="handle"></div>
  </div>

  <div class="slider-operator-container">
    <button class="btn reduce" (click)="onOperateValue(value - 1)">-</button>
    <button class="btn plus" (click)="onOperateValue(value + 1)">+</button>
  </div>
</div>
