<header class="bs-docs-nav navbar navbar-static-top" id="top">
  <div class="container">
    <div class="navbar-header">
      <button aria-controls="bs-navbar" aria-expanded="false" class="collapsed navbar-toggle"
              data-toggle="collapse" type="button"><span class="sr-only"></span> <span
        class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
      <a href="../" class="navbar-brand"> Rebirth UI</a></div>
    <nav class="collapse navbar-collapse" id="bs-navbar">
      <ul class="nav navbar-nav">
        <li class="active"><a>Getting started</a></li>
        <li><a>Type document</a></li>
        <li><a>@GreenGerong</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <section id="modal">
    <a href="#modal"><h2>Modal</h2></a>
    <re-modal-demo></re-modal-demo>
  </section>

  <section id="dialog">
    <a href="#dialog"><h2>Dialog</h2></a>
    <re-dialog-demo></re-dialog-demo>
  </section>

  <section id="pager">
    <a href="#pager"><h2>Pager</h2></a>
    <re-pager-demo></re-pager-demo>
  </section>

  <section id="pagination">
    <a href="#pagination"><h2>Pagination</h2></a>
    <re-pagination-demo></re-pagination-demo>
  </section>

  <section id="alert-box">
    <a href="#alert-box"><h2>Alert box</h2></a>
    <re-alert-box-demo></re-alert-box-demo>
  </section>

  <section id="badge">
    <a href="#badge"><h2>Badge</h2></a>
    <re-badge-demo></re-badge-demo>
  </section>

  <section id="panel">
    <a href="#panel"><h2>Panel</h2></a>
    <re-panel-demo></re-panel-demo>
  </section>

  <section id="accordion">
    <a href="#accordion"><h2>Accordion</h2></a>
    <re-accordion-demo></re-accordion-demo>
  </section>

  <section id="action-button">
    <a href="#action-button"><h2>Action button</h2></a>
    <re-action-button-demo></re-action-button-demo>
  </section>


</div>
<br>
<br>
<br>
