<h1> Rebirth UI plugin</h1>

<section id="modal">
  <a href="#modal"><h2>Modal</h2></a>
  <re-modal-demo></re-modal-demo>
</section>

<section id="dialog">
  <a href="#dialog"><h2>Dialog</h2></a>
  <re-dialog-demo></re-dialog-demo>
</section>

<section id="pager">
  <a href="#pager"><h2>Pager</h2></a>
  <re-pager-demo></re-pager-demo>
</section>

<section id="pagination">
  <a href="#pagination"><h2>Pagination</h2></a>
  <re-pagination-demo></re-pagination-demo>
</section>

<section id="alert-box">
  <a href="#alert-box"><h2>Alert box</h2></a>
  <re-alert-box-demo></re-alert-box-demo>
</section>

<section id="badge">
  <a href="#badge"><h2>Badge</h2></a>
  <re-badge-demo></re-badge-demo>
</section>

<section id="panel">
  <a href="#panel"><h2>Panel</h2></a>
  <re-panel-demo></re-panel-demo>
</section>
