<ul class="nav nav-{{type}} {{cssClass}}" [ngClass]="{'nav-stacked': vertical,'nav-justified': justified}"
    role="tablist">
  <li role="presentation" *ngFor="let tab of tabs" [class.disabled]="tab.disabled"
      [class.active]="tab.id == activeTab" (click)="select(tab.id)">
    <a role="tab" data-toggle="tab" [attr.aria-expanded]="tab.id == activeTab">
      <ng-template *ngIf="!tab.title" [ngTemplateOutlet]="tab.titleTpl?.templateRef"> </ng-template>
      <span *ngIf="tab.title">{{tab.title}}</span>
    </a>
  </li>
</ul>
<div class="tab-content">
  <ng-container *ngFor="let tab of tabs">
    <div class="tab-pane fade in" role="tabpanel" *ngIf="tab.id == activeTab"
         [ngClass]="{'in active': tab.id == activeTab}">
      <ng-template [ngTemplateOutlet]="tab.contentTpl.templateRef"> </ng-template>
    </div>
  </ng-container>
</div>
