<!-- begin:template: header label template-->
<template #defaultHeadTemplate let-head="">
  <tr>
    <th *ngIf="head.checkable" class="checkable-cell">
      <form class="form-inline">
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="checkAll" [(ngModel)]="head.allChecked" (change)="head.onCheckAllChange()">
            </label>
          </div>
        </div>
      </form>
    </th>
    <th *ngFor="let column of head.columns" (click)="head.onHeadClick(column)" [style.width]="column.width || ''">
      {{column.header}} <i *ngIf="head.sortField == column.field" class="glyphicon"
                           [ngClass]="{ 'glyphicon-triangle-bottom': head.sortDirection == 'DESC','glyphicon-triangle-top': head.sortDirection == 'ASC' }"></i>
    </th>
  </tr>
</template>
<!--end:tempate-->

<!-- begin:template: cell view, edit, filter template-->
<re-cell-template #textCellTemplate type="text">
  <re-cell>
    <template let-rowIndex="rowIndex" let-colIndex="colIndex" let-rowItem="rowItem" let-column="column"
              let-cellItem="cellItem" let-cellValue="cellValue">
      <ng-container [ngSwitch]="column.fieldType">
        <a *ngSwitchCase="'tel'" [href]="'tel:' + cellValue">{{cellValue}}</a>
        <a *ngSwitchCase="'mail'" [href]="'mailto:' + cellValue">{{cellValue}}</a>
        <span *ngSwitchDefault>{{cellValue}}</span>
      </ng-container>
    </template>
  </re-cell>

  <re-cell-edit>
    <template let-rowIndex="rowIndex" let-colIndex="colIndex" let-rowItem="rowItem" let-column="column" let-cell="">
      <form class="form-inline">
        <div class="form-group">
          <input [type]="column.fieldType" class="form-control" autofocus="autofocus" [name]="column.field"
                 [(ngModel)]="rowItem[column.field]"
                 (blur)="cell.onFinishCellEdit($event)"/>
        </div>
      </form>
    </template>
  </re-cell-edit>

  <re-cell-filter>
    <template let-head="" let-column="column">
      <input type="text" class="form-control search" [(ngModel)]="head.searchQuery[column.field]" [name]="column.field"
             (keydown.enter)="head.onSearchQueryChange()" (change)="head.onSearchQueryChange()"/>
    </template>
  </re-cell-filter>

</re-cell-template>
<!--end:tempate-->
