:host {
  display: block;
}

.select-container {
  position: relative;
  border-bottom: 1px solid #ddd;
}

.select-panel,
.select-control:not([disabled]) {
  cursor: pointer;
  background: #fff;
}

.input-group {
  .select-control {
    border: none;
  }
}

.input-group-addon {
  &:not(.disabled) {
    background: #fff;
  }
  border: none;

  .select-down-icon {
    display: block;
  }
}

::ng-deep .dropdown-menu {
  border: none;
  padding: 0;
  width: 100%;

  .popup-list {
    margin-bottom: 0;
  }
  .dropdown-header {
    padding: 3px 0.5rem;
  }

  .dropdown-item {
    cursor: pointer;
    padding: 8px 1rem;
    white-space: normal !important;

    &.selected {
      font-weight: bold;
    }
  }
}
