<div class="node-item">
  <i class="glyphicon"
     [ngClass]="{'glyphicon-chevron-down': node.$$expend, 'glyphicon-chevron-right': !node.$$expend, 'glyphicon-leaf': isLeaf()}"
     (click)="onExpendedIconClick($event)"></i>
  <div class="node-item-content">
    <ng-container *ngIf="!nodeItemTemplate" (click)="onNodeItemClick($event)" (dblclick)="onNodeItemDbClicked($event)">
      <span class="node-text"><i *ngIf="iconField && node[iconField]" class="node-icon {{node[iconField]}}"></i> {{node[textField] || ''}}</span>
      <div class="toolbar">
        <ng-template *ngIf="nodeItemToolbarTemplate" [ngTemplateOutlet]="nodeItemToolbarTemplate"
                     [ngOutletContext]="{ $implicit: node }"></ng-template>
      </div>
    </ng-container>
    <ng-container *ngIf="nodeItemTemplate">
      <ng-template *ngIf="nodeItemTemplate" [ngTemplateOutlet]="nodeItemTemplate"
                   [ngOutletContext]="{ $implicit: node }"></ng-template>
    </ng-container>
  </div>

  <re-tree-view *ngIf="node.children && node.children.length && node.$$expend"
                class="children-view"
                [treeData]="node.children"
                [textField]="textField"
                [valueFeild]="valueFeild"
                [iconField]="iconField"
                [checkable]="checkable"
                [nodeItemTemplate]="nodeItemTemplate"
                [nodeItemToolbarTemplate]="nodeItemToolbarTemplate"
  ></re-tree-view>
</div>
