.node-item {
  position: relative;
}

.node-item-content /deep/ {
  display: inline-block;
  .node-icon {
    margin-right: 2px;
  }
  .node-text {
    cursor: pointer;
    padding: 2px;
    border-radius: 4px;
    &:not(.bg-primary):hover {
      border: 1px dashed #ddd;
    }
  }
}

.node-expend-icon {
  cursor: pointer;
}

.drop-node-enter {
  border: 1px solid #2196f3
}

.toolbar, .node-check-box {
  display: inline-block;
}

.expend-icon {
  cursor: pointer;
}

.node-check-box {
  .checkbox {
    margin: 0px;
  }
}

.children-view {
  display: block;
  padding: 10px 1.5rem;
  border-left: 1px dashed #ddd;
  margin-left: 5px;
  .node-item {
    position: relative;
    &:before {
      content: ' ';
      position: absolute;
      left: -1.5rem;
      border-top: 1px dashed #ddd;
      display: inline-block;
      width: 1.5rem;
      height: 1px;
      top: 10px;
    }
  }
}

.loading {
  -webkit-animation: loadingAnimation 1.5s infinite alternate;
  -moz-animation: loadingAnimation 1.5s infinite alternate;
  -ms-animation: loadingAnimation 1.5s infinite alternate;
  -o-animation: loadingAnimation 1.5s infinite alternate;
  animation: loadingAnimation 1.5s infinite alternate;
}

@-webkit-keyframes loadingAnimation {
  50% {
    color: #FF9800;
  }
  100% {
    color: #4CAF50;
  }
}
