<div class="node-item">
  <i class="expend-icon {{getNodeExpendIcon()}}"
     (click)="onExpendedIconClick($event)"></i>
  <div class="node-item-content">
    <div class="node-check-box">
      <re-checkbox *ngIf="checkable" [(ngModel)]="node.$$check" label=""
                   (valueChange)="nodeItemCheckedChange($event)"></re-checkbox>
    </div>
    <ng-container *ngIf="!nodeItemTemplate">
      <span class="node-text" [ngClass]="{'bg-primary': node.$$select}" (click)="onNodeItemClick($event)"
            (dblclick)="onNodeItemDbClicked($event)">
        <i *ngIf="iconField && node[iconField]"
           class="node-icon {{node[iconField]}}"></i> {{node[textField] || ''}}</span>
      <div class="toolbar">
        <ng-template *ngIf="nodeItemToolbarTemplate" [ngTemplateOutlet]="nodeItemToolbarTemplate"
                     [ngOutletContext]="{$implicit: node, parentNode:parentNode, tree: this}"></ng-template>
      </div>
    </ng-container>
    <ng-container *ngIf="nodeItemTemplate">
      <ng-template *ngIf="nodeItemTemplate" [ngTemplateOutlet]="nodeItemTemplate"
                   [ngOutletContext]="{$implicit: node,  parentNode:parentNode, tree: this }"></ng-template>
    </ng-container>
  </div>

  <re-tree-view *ngIf="node.children && node.children.length && node.$$expend"
                class="children-view"
                [treeData]="node.children"
                [textField]="textField"
                [valueField]="valueField"
                [iconField]="iconField"
                [checkable]="checkable"
                [parentNode]="parentNode"
                [nodeItemTemplate]="nodeItemTemplate"
                [nodeItemToolbarTemplate]="nodeItemToolbarTemplate"
                (nodeItemCheckedChanged)="onChildrenNodeCheckedChange($event)"
                (nodeItemClicked)="onChildrenNodeItemClicked($event)"
                (nodeItemDbClicked)="onChildrenNodeItemDbClicked($event)"
                (nodeItemExpended)="onChildrenNodeItemExpended($event)"
                [leafIcon]="leafIcon"
                [expendIcon]="expendIcon"
                [unExpendIcon]="unExpendIcon"
  ></re-tree-view>
</div>
