<re-tree-panel class="{{cssClass}}" [treeData]="treeData"
               [textField]="textField"
               [valueField]="valueField"
               [nodeCssClass]="nodeCssClass"
               [iconField]="iconField"
               [checkable]="checkable"
               [lazyLoad]="lazyLoad"
               [loadingIcon]="loadingIcon"
               [loadChildren]="loadChildren"
               [allowDraggable]="allowDraggable"
               [nodeItemTemplate]="nodeItemTemplate"
               [nodeItemToolbarTemplate]="nodeItemToolbarTemplate"
               [leafIcon]="leafIcon"
               [expendIcon]="expendIcon"
               [unExpendIcon]="unExpendIcon"
               [allowMutipleSelected]="allowMutipleSelected"
               (nodeItemCheckedChanged)="onNodeItemCheckedChanged($event)">
</re-tree-panel>
