<div class="tree-view-demo">

  <section>
    <h4>Normal:</h4>
    <re-tree-view [treeData]="treeData1" textField="name" valueFeild="id" [allowMutipleSelected]="false"></re-tree-view>
  </section>

  <section>
    <h4>Checked:</h4>
    <re-tree-view [checkable]="true" [treeData]="treeData2" textField="name" valueFeild="id"
                  #treeView="treeView" [allowMutipleSelected]="true"></re-tree-view>

    Selected Node ID:
    <pre>{{treeView.getSelectNode()}}</pre>
    Checked Nodes ID:
    <pre>[{{treeView.getCheckedNodes()}}]</pre>
  </section>

  <section>
    <h4>Toolbar:</h4>
    <ng-template #toolbar let-node="">
      <i class="glyphicon glyphicon-plus"></i> <i class="glyphicon glyphicon-remove"></i>
    </ng-template>
    <re-tree-view [treeData]="treeData3" textField="name" valueFeild="id" iconField="icon"
                  [nodeItemToolbarTemplate]="toolbar"></re-tree-view>
  </section>


  <section>
    <h4>Customise template:</h4>
    <ng-template #nodeItemTemplate let-node="">
      <span class="node-text">{{node.id}}: {{node.name}}</span>
      <i class="glyphicon glyphicon-plus"></i>
      <i class="glyphicon glyphicon-remove"></i>
    </ng-template>
    <re-tree-view [treeData]="treeData4" textField="name" valueFeild="id"
                  [nodeItemTemplate]="nodeItemTemplate"></re-tree-view>
  </section>


</div>
