<div class="notify-demo">

  <section>
    <h4>Alert message:</h4>
    <ng-template #alertTemplate let-alert="">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{alert.html}}
    </ng-template>

    <form>
      <div class="form-group">
        <label class="control-label">Placement:</label>
        <select class="form-control" #placement (change)="placementChange(placement.value)">
          <option value="top">top</option>
          <option value="top-right">top-right</option>
          <option value="bottom">bottom</option>
          <option value="bottom-right">bottom-right</option>
        </select>
      </div>
    </form>

    <button class="btn btn-primary" (click)="showAlertMessage()">Save orders</button>
  </section>
</div>
