
.month-view {
  .month-view-table {
    margin-bottom: 0px;
  }

  .btn-link {
    cursor: pointer;
  }

  .date-select {
    border: none;
    background: transparent;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    vertical-align: middle;
  }
  .week-header {
    font-style: italic;
    font-weight: bold;
    cursor: default;
  }

  .day {
    text-align: center;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    cursor: pointer;
    &:hover:not(.bg-primary) {
      background-color: #e6e6e6;
      border-color: #adadad;
      color: #000;
      font-weight: bold;
    }
    &.disabled:not(.bg-primary) {
      opacity: 0.2;
      color: #292b2c !important;
      background-color: #ddd !important;
      cursor: not-allowed;
    }
  }

  .in-month-day:not(.bg-primary) {
    color: #292b2c;
    background-color: #fff;
    border-color: #ccc;
  }

  .out-of-month {
    opacity: 0.8;
    background-color: #fff;
    color: #ddd;
  }

  .time-picker-view {
    td {
      vertical-align: middle;
      line-height: 2;
    }
  }
}

