
.month-view {
  background-color: #f7f7f7;
  text-align: center;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);

  .month-view-table {
    margin-bottom: 0px;
    tr {
      td {
        border: none;
      }
    }
  }

  .btn-link {
    cursor: pointer;
  }

  .date-select {
    border: none;
    background: transparent;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    vertical-align: middle;
  }
  .week-header {
    font-style: italic;
    font-weight: bold;
    cursor: default;
  }

  .day {
    cursor: pointer;

    .calendar-date {
      text-align: center;
      vertical-align: middle;
      width: 2em;
      height: 2em;
      line-height: 2;
      border-radius: 50%;

      &:hover:not(.bg-primary) {
        background-color: #e6e6e6;
        border-color: #adadad;
        color: #000;
      }
    }

    &.disabled {
      .calendar-date:not(.bg-primary) {
        opacity: 0.2;
        color: #292b2c !important;
        background-color: #ddd !important;
      }
      cursor: not-allowed;
    }
  }

  .in-month-day:not(.bg-primary) {
    color: #292b2c;
    background-color: #fff;
    border-color: #ccc;
  }

  .out-of-month {
    opacity: 0.8;
    background-color: #fff;
    color: #ddd;
  }

  .time-picker-view {
    td {
      vertical-align: middle;
      line-height: 2;
    }

    .time-panel {
      margin-left: 1em;
    }
  }

}

