.switch {
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  position: relative;
  text-align: left;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100px;
  white-space: nowrap;
  padding: 0;
  text-overflow: ellipsis;
  .switch-left, .switch-right {
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 50%;
    line-height: 2;
    text-align: center;
  }

  &.disabled {
    .switch-left, .switch-right {
      cursor: not-allowed;
      opacity: 0.65;
      filter: alpha(opacity=65);
      box-shadow: none;
    }
  }

  &.btn-lg {
    width: 120px;
  }

  &.btn-sm {
    width: 100px;
  }
  &.btn-xs {
    width: 80px;
  }
}
