/* You can add global styles to this file, and also import other style files */

$icon-font-path: "./assets/fonts/";
//@import "~bootstrap-sass/assets/stylesheets/_bootstrap";
@import '~highlight.js/styles/github';

.overlay-demo-logo {
  background: url("./assets/images/loading.gif");
  width: 200px;
  height: 200px;
}

//@import "./assets/themes/bootstrap.dark.css";
//@import "./assets/themes/bootstrap.paper.css";
//@import "./assets/themes/bootstrap.cosmo.css";
//@import "./assets/themes/bootstrap.readable.css";
//@import "./assets/themes/bootstrap.united.css";
//@import "./assets/themes/bootstrap.sandstone.css";
//@import "./assets/themes/bootstrap.journal.css";
