<div class="validators-demo">
  <section>
    <h4>Range Length:</h4>
    <form>
      <div class="form-group">
        <label for="firstName">First name</label>
        <input type="text" id="firstName" name="name" class="form-control" [(ngModel)]="model['firstName']"
               [reRangeLength]="[5,10]" #firstName="ngModel"/>

        <re-alert-box *ngIf="firstName.errors &&  firstName.touched" type="danger">
          <div *ngIf="firstName.errors.reRangeLength">Length of first name should be range between 5 and 10.</div>
        </re-alert-box>
      </div>
    </form>
  </section>
</div>
