<div class="validators-demo">
  <section>
    <h4>Range Length:</h4>
    <form>
      <div class="form-group">
        <label for="firstName">First name</label>
        <input type="text" id="firstName" name="name" class="form-control" [(ngModel)]="model['firstName']"
               [reRangeLength]="[5,10]" #firstName="ngModel"/>

        <re-alert-box *ngIf="firstName.errors &&  firstName.touched" type="danger">
          <div *ngIf="firstName.errors.reRangeLength">Length of first name should range between 5 and 10.</div>
        </re-alert-box>
      </div>
    </form>
  </section>
  <section>
    <h4>Min & Max number:</h4>
    <form>
      <div class="form-group">
        <label for="age">Age</label>
        <input type="number" id="age" name="age" class="form-control" [(ngModel)]="model['age']"
               [reMin]="18" [reMax]="100" #age="ngModel"/>

        <re-alert-box *ngIf="age.errors &&  age.touched" type="danger">
          <div *ngIf="age.errors.reMin">Age should greater than 18.</div>
          <div *ngIf="age.errors.reMax">Age should less than 100.</div>
        </re-alert-box>
      </div>
    </form>
  </section>

  <section>
    <h4>Number range:</h4>
    <form>
      <div class="form-group">
        <label for="age2">Age</label>
        <input type="number" id="age2" name="age2" class="form-control" [(ngModel)]="model['age2']"
               [reRange]="[18,100]" #age2="ngModel"/>

        <re-alert-box *ngIf="age2.errors &&  age2.touched" type="danger">
          <div *ngIf="age2.errors.reRange">Age should between 18 and 100.</div>
        </re-alert-box>
      </div>
    </form>
  </section>

  <section>
    <h4>Digits:</h4>
    <form>
      <div class="form-group">
        <label for="orderNumber">Order number</label>
        <input type="text" id="orderNumber" name="orderNumber" class="form-control" [(ngModel)]="model['orderNumber']"
               reDigits #orderNumber="ngModel"/>

        <re-alert-box *ngIf="orderNumber.errors &&  orderNumber.touched" type="danger">
          <div *ngIf="orderNumber.errors.reDigits">Order number should be digits.</div>
        </re-alert-box>
      </div>
    </form>
  </section>

  <section>
    <h4>Number:</h4>
    <form>
      <div class="form-group">
        <label for="amount">Amount</label>
        <input type="text" id="amount" name="amount" class="form-control" [(ngModel)]="model['amount']"
               reNumber #amount="ngModel"/>

        <re-alert-box *ngIf="amount.errors &&  amount.touched" type="danger">
          <div *ngIf="amount.errors.reNumber">Amount should be number.</div>
        </re-alert-box>
      </div>
    </form>
  </section>
</div>
