<div class="validators-demo">
  <section>
    <h4>Range Length:</h4>
    <form>
      <div class="form-group">
        <label for="firstName">First name</label>
        <input type="text" id="firstName" name="name" class="form-control" [(ngModel)]="model['firstName']"
               [reRangeLength]="[5,10]" #firstName="ngModel"/>

        <re-alert-box *ngIf="firstName.errors &&  firstName.touched" type="danger">
          <div *ngIf="firstName.errors.reRangeLength">Length of first name should range between 5 and 10.</div>
        </re-alert-box>
      </div>
    </form>
  </section>
  <section>
    <h4>Min & Max number:</h4>
    <form>
      <div class="form-group">
        <label for="age">Age</label>
        <input type="number" id="age" name="age" class="form-control" [(ngModel)]="model['age']"
               [reMin]="18" [reMax]="100" #age="ngModel"/>

        <re-alert-box *ngIf="age.errors &&  age.touched" type="danger">
          <div *ngIf="age.errors.reMin">Age should greater than 18.</div>
          <div *ngIf="age.errors.reMax">Age should less than 100.</div>
        </re-alert-box>
      </div>
    </form>
  </section>

  <section>
    <h4>Number range:</h4>
    <form>
      <div class="form-group">
        <label for="age2">Age</label>
        <input type="number" id="age2" name="age2" class="form-control" [(ngModel)]="model['age2']"
               [reRange]="[18,100]" #age2="ngModel"/>

        <re-alert-box *ngIf="age2.errors &&  age2.touched" type="danger">
          <div *ngIf="age2.errors.reRange">Age should between 18 and 100.</div>
        </re-alert-box>
      </div>
    </form>
  </section>

  <section>
    <h4>Digits:</h4>
    <form>
      <div class="form-group">
        <label for="orderNumber">Order number</label>
        <input type="text" id="orderNumber" name="orderNumber" class="form-control" [(ngModel)]="model['orderNumber']"
               reDigits #orderNumber="ngModel"/>

        <re-alert-box *ngIf="orderNumber.errors &&  orderNumber.touched" type="danger">
          <div *ngIf="orderNumber.errors.reDigits">Order number should be digits.</div>
        </re-alert-box>
      </div>
    </form>
  </section>

  <section>
    <h4>Number:</h4>
    <form>
      <div class="form-group">
        <label for="amount">Amount</label>
        <input type="text" id="amount" name="amount" class="form-control" [(ngModel)]="model['amount']"
               reNumber #amount="ngModel"/>

        <re-alert-box *ngIf="amount.errors &&  amount.touched" type="danger">
          <div *ngIf="amount.errors.reNumber">Amount should be number.</div>
        </re-alert-box>
      </div>
    </form>
  </section>

  <section>
    <h4>Url:</h4>
    <form>
      <div class="form-group">
        <label for="url">Url</label>
        <input type="text" id="url" name="url" class="form-control" [(ngModel)]="model['url']"
               reUrl #url="ngModel"/>

        <re-alert-box *ngIf="url.errors &&  url.touched" type="danger">
          <div *ngIf="url.errors.reUrl">It is a invalid url.</div>
        </re-alert-box>
      </div>
    </form>
  </section>

  <section>
    <h4>Email:</h4>
    <form>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" class="form-control" [(ngModel)]="model['email']"
               reEmail #email="ngModel"/>

        <re-alert-box *ngIf="email.errors &&  email.touched" type="danger">
          <div *ngIf="email.errors.reEmail">It is a invalid email.</div>
        </re-alert-box>
      </div>
    </form>
  </section>

  <section>
    <h4>Date:</h4>
    <form>
      <div class="form-group">
        <label for="Date">Date</label>
        <input type="text" id="Date" name="Date" class="form-control" [(ngModel)]="model['date']"
               reDate #date="ngModel"/>

        <re-alert-box *ngIf="date.errors &&  date.touched" type="danger">
          <div *ngIf="date.errors.reDate">It is a invalid date.</div>
        </re-alert-box>
      </div>
    </form>
  </section>

  <section>
    <h4>ISO Date:</h4>
    <form>
      <div class="form-group">
        <label for="isoDate">ISO Date</label>
        <input type="text" id="isoDate" name="isoDate" class="form-control" [(ngModel)]="model['isoDate']"
               reDateISO #isoDate="ngModel"/>

        <re-alert-box *ngIf="isoDate.errors &&  isoDate.touched" type="danger">
          <div *ngIf="isoDate.errors.reDateISO">It is a invalid ISO date.</div>
        </re-alert-box>
      </div>
    </form>
  </section>

  <section>
    <h4>JSON</h4>
    <form>
      <div class="form-group">
        <label for="json">JSON</label>
        <textarea id="json" name="json" class="form-control" [(ngModel)]="model['json']"
                  reJson #json="ngModel"></textarea>

        <re-alert-box *ngIf="json.errors &&  json.touched" type="danger">
          <div *ngIf="json.errors.reJson">It is a invalid json.</div>
        </re-alert-box>
      </div>
    </form>
  </section>


  <section>
    <h4>Base64</h4>
    <form>
      <div class="form-group">
        <label for="base64">Base64</label>
        <textarea id="base64" name="base64" class="form-control" [(ngModel)]="model['base64']"
                  reBase64 #base64="ngModel"></textarea>

        <re-alert-box *ngIf="base64.errors &&  base64.touched" type="danger">
          <div *ngIf="base64.errors.reBase64">It is a invalid base64 encoding.</div>
        </re-alert-box>
      </div>
    </form>
  </section>

  <section>
    <h4>Phone</h4>
    <form>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input id="phone" type="tel" name="phone" class="form-control" [(ngModel)]="model['phone']"
               rePhone="zh-CN" #phone="ngModel"/>

        <re-alert-box *ngIf="phone.errors &&  phone.touched" type="danger">
          <div *ngIf="phone.errors.rePhone">It is a invalid phone number.</div>
        </re-alert-box>
      </div>
    </form>
  </section>

  <section>
    <h4>UUID</h4>
    <form>
      <div class="form-group">
        <label for="uuid">UUID</label>
        <input id="uuid" type="text" name="uuid" class="form-control" [(ngModel)]="model['uuid']"
               reUUID #uuid="ngModel"/>

        <re-alert-box *ngIf="uuid.errors &&  uuid.touched" type="danger">
          <div *ngIf="uuid.errors.reUUID">It is a invalid uuid.</div>
        </re-alert-box>
      </div>
    </form>
  </section>

  <section>
    <h4>Equal constant value</h4>
    <form>
      <div class="form-group">
        <label for="equal10">Equal 10</label>
        <input id="equal10" type="text" name="equal10" class="form-control" [(ngModel)]="model['equal10']"
               reEqual="10" #equal10="ngModel"/>

        <re-alert-box *ngIf="equal10.errors &&  equal10.touched" type="danger">
          <div *ngIf="equal10.errors.reEqual">The number should equal 10.</div>
        </re-alert-box>
      </div>
    </form>
  </section>

  <section>
    <h4>Includes in ['greengerong', 'polang']</h4>
    <form>
      <div class="form-group">
        <label for="includes">Equal 10</label>
        <input id="includes" type="text" name="includes" class="form-control" [(ngModel)]="model['includes']"
               [reIncludes]="['greengerong', 'polang']" #includes="ngModel"/>

        <re-alert-box *ngIf="includes.errors &&  includes.touched" type="danger">
          <div *ngIf="includes.errors.reIncludes">The name should includes in ['greengerong', 'polang'].</div>
        </re-alert-box>
      </div>
    </form>
  </section>

  <section>
    <h4>Equal to control:</h4>
    <form>
      <div class="form-group">
        <label for="pwd">Password</label>
        <input id="pwd" type="password" name="pwd" class="form-control" [(ngModel)]="model['pwd']"/>
      </div>
      <div class="form-group">
        <label for="confirm">Confirm</label>
        <input id="confirm" type="password" name="confirm" class="form-control" [(ngModel)]="model['confirm']"
               reEqualTo="pwd" #confirm="ngModel"/>

        <re-alert-box *ngIf="confirm.errors &&  confirm.touched" type="danger">
          <div *ngIf="confirm.errors.reEqualTo">It should equal to password.</div>
        </re-alert-box>
      </div>
    </form>
  </section>

  <section>
    <h4>Before Date:</h4>
    <form>
      <div class="form-group">
        <label for="beforeToday">Before Today</label>
        <input id="beforeToday" type="date" name="beforeToday" class="form-control" [(ngModel)]="model['beforeToday']"
               reBeforeDate="" #reBeforeDate="ngModel"/>

        <re-alert-box *ngIf="reBeforeDate.errors && reBeforeDate.touched" type="danger">
          <div *ngIf="reBeforeDate.errors.reBeforeDate">It should before today.</div>
        </re-alert-box>
      </div>

      <div class="form-group">
        <label for="beforeDate">Before 2017-05-01</label>
        <input id="beforeDate" type="date" name="beforeDate" class="form-control" [(ngModel)]="model['beforeDate']"
               reBeforeDate="2017-05-01" #beforeDate="ngModel"/>

        <re-alert-box *ngIf="beforeDate.errors && beforeDate.touched" type="danger">
          <div *ngIf="beforeDate.errors.reBeforeDate">It should before 2017-05-01</div>
        </re-alert-box>
      </div>

      <div class="form-group">
        <label>Before <input type="date" name="date" [(ngModel)]="model['date']"> </label>
        <input type="date" name="beforeDate1" class="form-control" [(ngModel)]="model['beforeDate1']"
               [reBeforeDate]="model['date']" #beforeDate1="ngModel"/>

        <re-alert-box *ngIf="beforeDate1.errors && beforeDate1.touched" type="danger">
          <div *ngIf="beforeDate1.errors.reBeforeDate">It should before {{model['date']| date}}</div>
        </re-alert-box>
      </div>
    </form>
  </section>

  <section>
    <h4>After Date:</h4>
    <form>
      <div class="form-group">
        <label for="afterToday">After Today</label>
        <input id="afterToday" type="date" name="afterToday" class="form-control" [(ngModel)]="model['afterToday']"
               [reAfterDate]="today" #reAfterDate="ngModel"/>

        <re-alert-box *ngIf="reAfterDate.errors &&  reAfterDate.touched" type="danger">
          <div *ngIf="reAfterDate.errors.reAfterDate">It should after today.</div>
        </re-alert-box>
      </div>

      <div class="form-group">
        <label for="afterDate">After 2017-05-01</label>
        <input id="afterDate" type="date" name="afterDate" class="form-control" [(ngModel)]="model['afterDate']"
               reAfterDate="2017-05-01" #afterDate="ngModel"/>

        <re-alert-box *ngIf="afterDate.errors &&  afterDate.touched" type="danger">
          <div *ngIf="afterDate.errors.reAfterDate">It should after 2017-05-01</div>
        </re-alert-box>
      </div>

      <div class="form-group">
        <label>After <input type="date" name="date" [(ngModel)]="model['date']"> </label>
        <input type="date" name="afterDate1" class="form-control" [(ngModel)]="model['afterDate1']"
               [reAfterDate]="model['date']" #afterDate1="ngModel"/>

        <re-alert-box *ngIf="afterDate1.errors &&  afterDate1.touched" type="danger">
          <div *ngIf="afterDate1.errors.reAfterDate">It should after {{model['date']| date}}</div>
        </re-alert-box>
      </div>
    </form>
  </section>
</div>
