<div class="rating-demo">
  <section>
    <h4>Normal:</h4>
    <re-time-picker [(ngModel)]="time" [disabled]="disabled"></re-time-picker>
  </section>

  <section>
    <h4>No seconds:</h4>
    <re-time-picker [(ngModel)]="time" [showSeconds]="false" [disabled]="disabled"></re-time-picker>

    <button class="btn btn-primary" (click)="disabled = !disabled">{{disabled ? 'Enable' : 'Disable'}}</button>
  </section>

  <section>
    <h4>Min time and max time:</h4>
    <re-time-picker [(ngModel)]="time" [maxTime]="{ hour: 20, minute: 0, second: 10 }"
                    [minTime]="{ hour: 1, minute: 0, second: 0 }" (ngModelChange)="timeChange($event)"></re-time-picker>
  </section>


  <hr>
  <pre>{{time | json}}</pre>

</div>
