<div class="action-button-demo">
  <re-action-button [buttonText]="'Dropdown action'" [actions]="actions" icon="glyphicon glyphicon-tasks"
                    [type]="'primary'"
                    (actionClick)="onActionClick($event)"></re-action-button>
  <re-action-button [buttonText]="'Dropup action'" direction="up" [actions]="actions" type="warning"
                    (actionClick)="onActionClick($event)" [isOpen]="isActionOpen"></re-action-button>

  <re-action-button [buttonText]="'Default Action'" type="default" [actions]="actions"
                    (actionClick)="onActionClick($event)"></re-action-button>

  <re-action-button [buttonText]="'Disabled dropdown action'" type="danger" [actions]="actions"
                    [disabled]="disabledActionOpen" (actionClick)="onActionClick($event)"></re-action-button>

  <hr>
  <div>
    <button class="btn btn-success" (click)="isActionOpen = !isActionOpen; $event.stopPropagation();">Toggle 4th Dropup
      action
    </button>

    <button class="btn btn-success" (click)="disabledActionOpen = !disabledActionOpen;">Toggle Dropup action disabled
    </button>
  </div>
</div>
