<div
  class="modal fade {{(modalOptions.size ? ' modal-' + modalOptions.size : '')}} {{modalOptions.modalClass? modalOptions.modalClass : ''}}"
  [ngClass]="{'in': isOpen}"
  [ngStyle]="{'display': isOpen ? 'block': 'none','z-index': 1050 + instanceCount *10}" tabindex="-1"
  role="dialog" role="document">
  <div class="modal-dialog">
    <div class="modal-content">
      <re-modal-content #modalContent class="modal-content"></re-modal-content>
    </div>
  </div>
</div>
<re-modal-backdrop #modalBackdrop [backdropClass]="modalOptions.backdropClass" [isOpen]="isOpen"
                   [instanceCount]="instanceCount"
                   *ngIf="modalOptions.backdrop !== false && isOpen"></re-modal-backdrop>

